	
	<div class="c-author anim anim--up" id="author">		
		<div class="o-wrap">			
			<div class="o-section o-section--both-half">
				<div class="o-cols">
					<div class="o-cols__item">
						<h2 class="o-lead--big o-caption o-caption--vertical">O autorze</h2>
						
						<article class="o-article">
							<h4 class="o-lead--medium">Cześć, nazywam się Jacek Kłosiński i&nbsp;pokazuję jak stawiać na swoim bez stawania na głowie.</h4>
							
							<section class="js-authorDetailsMobile"></section>
							
							<p>Opowiadam jak realizować ambitne cele i działać 
po swojemu, zachowując przy tym zdrowy rozsądek, 
własne tempo i&nbsp;duży luz. Tak, to możliwe.</p>

<p>Skąd to wiem? Bo kiedyś bardzo często wpadałem 
w&nbsp;skrajności. Z&nbsp;kompletnego lenia zamieniłem się 
w typowego pracoholika. Nabiłem sobie przez to 
wiele guzów, ale dzięki temu zrozumiałem, że 
jedynym rozsądnym podejściem jest równowaga.</p>

<p>Jeśli skupisz się wyłącznie na ambicji, celach 
i&nbsp;produktywności, szybko zamienisz się w robota. Poprzeczka będzie podnosiła się w&nbsp;nieskończoność 
i&nbsp;nigdy nie będzie wystarczająco dobrze.</p>

<p>Z drugiej strony, kompletny luz i&nbsp;ucieczka w Bieszczady też nie są rozwiązaniem. W życiu musi przecież chodzić o&nbsp;coś więcej niż tylko leżenie pod palmami z drinkiem 
w ręku. Niestety większość z&nbsp;nas jest niebezpiecznie blisko jednej z tych dwóch skrajności. Albo niezdrowo ciśniemy i&nbsp;mamy przerośniętą ambicję albo marnujemy swój potencjał bo odpuszczamy i&nbsp;zadowalamy się 
świętym spokojem.</p>

<p>W Metodzie Tęczówki opisałem moją receptę na szukanie złotego środka. Pokażę Ci jak nauczyłem 
się realizować swoje cele bez wpadania w skrajności.</p>
						</article>		
					</div>
					
					<div class="o-cols__item js-authorDetailsDesktop">
						<div class="c-author__details js-authorDetails">
							<div class="c-author__photo">
								<img srcset="./img/assets/author/jacek-klosinski-03.jpg 1x,
							                 ./img/assets/author/jacek-klosinski-03@2x.jpg 2x"
									 src="./img/assets/author/jacek-klosinski-03.jpg" alt="Jacek Kłosiński" width="368" height="368">
							</div>
							
							<ul class="c-social">
								<li class="anim anim--delay1 anim--up">
									<a href="http://www.facebook.com/j.klosinski" class="icon-facebook" rel="noopener" target="_blank"></a>
								</li>
								
								<li class="anim anim--delay2 anim--up">
									<a href="https://www.youtube.com/c/jacekklosinski?sub_confirmation=1" class="icon-youtube" rel="noopener" target="_blank"></a>
								</li>
								
								<li class="anim anim--delay3 anim--up">
									<a href="http://instagram.com/jklosinski" class="icon-instagram" rel="noopener" target="_blank"></a>
								</li>
								
								<li>
									<a href="https://klosinski.net" rel="noopener" target="_blank">
										<img src=<%= require("./img/logo/klosinski--white.svg") %> alt="klosiński" width="104" height="16">
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</div>
