
	<div class="c-buy anim anim--up" id="buy">
		<div class="o-section o-section--both">
			<div class="o-wrap">
				
				<header class="o-header o-header--indent">
					<h2 class="o-lead--big">Kup książkę</h2>
				</header>
				
				
				<div class="c-variants">
					<div class="c-variants__item anim anim--up">
						<header class="o-header">
							<h5 class="o-lead--mini">Wariant 1</h5>
							<h4 class="o-lead--medium">Książka</h4>
						</header>
						
						<div class="c-variants__top">
							<img srcset="./img/assets/buy/cover-1.png 1x,
							             ./img/assets/buy/cover-1@2x.png 2x"
							     src="./img/assets/buy/cover-1.png" alt="">
						</div>
						
						<ul class="o-list o-list--check">
							<li>
								<strong>Książka „Metoda Tęczówki”</strong>
							</li>

							<li>Dostęp do strony z dodatkowymi materiałami</li>
						</ul>
						
						<h4 class="o-lead--small color-green">W przedsprzedaży</h4>
						
						<ul class="o-list o-list--dots">
							<li>Oszczędasz 10&nbsp;zł</li>
							
							<li>Mój podpis w&nbsp;książce</li>
							
							<li>Priorytet wysyłki</li>
						</ul>
						
						<div class="c-variants__price">
							<p class="o-lead--medium">
								<del>59 zł</del>
							</p>

							<p class="o-lead--big color-green">49 zł</p>
						</div>
						
						<div class="c-variants__cta">
							<a href="https://klosinski.salescrm.pl/cart/add_product/ksiazka-metoda-teczowki" class="o-btn o-btn--blackoutline" target="_blank" rel="noopener">Kup książkę</a>
						</div>
						
						<div class="c-variants__delivery">
							+ koszt wysyłki (darmowa dostawa od 145 zł), regularna cena książki 59 zł
						</div>
					</div>
					
					<div class="c-variants__item anim anim--delay1 anim--up is-active">
						<header class="o-header o-header--with">
							<h5 class="o-lead--mini">Wariant 2</h5>
							<h4 class="o-lead--medium">Książka</h4>
							<i class="icon-plus"></i>
						</header>
						
						<div class="c-variants__top">
							<div class="c-variants__nts js-nts">
								<div class="js-variantsTrigger">
									<i class="icon-triangle-down"></i>
									<p class="o-lead--medium js-current">N/T/S Plain</p>
									<p class="o-lead--mini">Wybierz swój notes</p>
								</div>
								
								<div class="options">
									<p class="js-variant" data-target="js-plain">N/T/S Plain</p>
									<p class="js-variant" data-target="js-daily">N/T/S Daily</p>
								</div>
							</div>
							
							<div class="js-variantContent js-plain">
								<img srcset="./img/assets/buy/cover-2.png 1x,
							             ./img/assets/buy/cover-2@2x.png 2x"
							     src="./img/assets/buy/cover-2.png" alt="">
							</div>
							
							<div class="js-variantContent js-daily is-hidden">
								<img src=<%= require("./img/assets/buy/cover-2-daily.png") %> alt="" width="259">
							</div>
						</div>
						
						<div class="js-variantContent js-plain">
							<ul class="o-list o-list--check">
								<li>
									<strong>Książka „Metoda Tęczówki”</strong>
								</li>
								
								<li>
									<p><strong>N/T/S Plain</strong></p>
									<p>minimalistyczny notes z&nbsp;zadrukiem w&nbsp;kropki</p>
								</li>
	
								<li>Dostęp do strony z dodatkowymi materiałami</li>
							</ul>
							
							<h4 class="o-lead--small color-green">W przedsprzedaży</h4>
							
							<ul class="o-list o-list--dots">
								<li>Oszczędasz 29&nbsp;zł</li>
								
								<li>Mój podpis w&nbsp;książce</li>
								
								<li>Priorytet wysyłki</li>
							</ul>
							
							<div class="c-variants__price">
								<p class="o-lead--medium">
									<del>128 zł</del>
								</p>
	
								<p class="o-lead--big color-green">99 zł</p>
							</div>
							
							<div class="c-variants__cta">
								<a href="https://klosinski.salescrm.pl/cart/add_product_set/ksiazka-plain" class="o-btn o-btn--blackoutline" target="_blank" rel="noopener">Kup książkę i notes</a>
							</div>
							
							<div class="c-variants__delivery">
								+ koszt wysyłki (darmowa dostawa od 145 zł), regularna cena produktów kupionych osobno: 128 zł
							</div>
						</div>
						
						
 

						<div class="js-variantContent js-daily is-hidden">
							
							<ul class="o-list o-list--check">
								<li>
									<strong>Książka „Metoda Tęczówki”</strong>
								</li>
								
								<li>
									<p><strong>N/T/S Daily</strong></p>
									<p>notes do prowadzenia dziennika</p>
								</li>
								
								<li>
									<p><strong>Instrukcja N/T/S Daily</strong></p>
									<p>Książeczka z opisem metody</p>
								</li>
	
								<li>Dostęp do strony z dodatkowymi materiałami</li>
							</ul>
							
							
							<h4 class="o-lead--small color-green">W przedsprzedaży</h4>
							
							<ul class="o-list o-list--dots">
								<li>Oszczędasz 25&nbsp;zł</li>
								
								<li>Mój podpis w&nbsp;książce</li>
								
								<li>Priorytet wysyłki</li>
							</ul>
							
							<div class="c-variants__price">
								<p class="o-lead--medium">
									<del>144 zł</del>
								</p>
	
								<p class="o-lead--big color-green">119 zł</p>
							</div>
							
							<div class="c-variants__cta">
								<a href="https://klosinski.salescrm.pl/cart/add_product_set/ksiazka-daily" class="o-btn o-btn--blackoutline" target="_blank" rel="noopener">Kup książkę i notes</a>
							</div>
							
							<div class="c-variants__delivery">
								+ koszt wysyłki (darmowa dostawa od 145 zł), regularna cena produktów kupionych osobno 144 zł 
							</div>
						</div>
					</div>
					
					<div class="c-variants__item anim anim--delay2 anim--up">
						<header class="o-header o-header--with">
							<h5 class="o-lead--mini">Wariant 3</h5>
							<h4 class="o-lead--medium">Książka</h4>
							<i class="icon-plus"></i>
						</header>
						
						<div class="c-variants__top">
							<p class="o-lead--medium">Pakiet notesów</p>
							
							<img srcset="./img/assets/buy/cover-3.png 1x,
							             ./img/assets/buy/cover-3@2x.png 2x"
							     src="./img/assets/buy/cover-3.png" alt="">
						</div>
						
						<ul class="o-list o-list--check">
							<li>
								<strong>Książka „Metoda Tęczówki”</strong>
							</li>
							
							<li>
								<p><strong>N/T/S Plain</strong></p>
								<p>minimalistyczny notes z&nbsp;zadrukiem w kropki</p>
							</li>
							
							<li>
								<p><strong>N/T/S Daily</strong></p>
								<p>notes do prowadzenia dziennika</p>
							</li>
							
							<li>
								<p><strong>Instrukcja N/T/S Daily </strong></p>
								<p>książeczka z opisem metody</p>
							</li>
							
							<li>
								<p>Dostęp do strony z dodatkowymi materiałami</p>
							</li>
						</ul>
						
						<h4 class="o-lead--small color-green">W przedsprzedaży</h4>
						
						<ul class="o-list o-list--dots">
							<li>Oszczędasz 34&nbsp;zł</li>
							
							<li>Mój podpis w&nbsp;książce</li>
							
							<li>Darmowa wysyłka</li>
							
							<li>Priorytet wysyłki</li>
						</ul>
						
						<div class="c-variants__price">
							<p class="o-lead--medium">
								<del>213 zł</del>
							</p>

							<p class="o-lead--big color-green">179 zł</p>
						</div>
						
						<div class="c-variants__cta">
							<a href="https://klosinski.salescrm.pl/cart/add_product_set/ksiazka-plain-daily" class="o-btn o-btn--blackoutline" target="_blank" rel="noopener">Kup książkę i pakiet notesów</a>
						</div>
						
						<div class="c-variants__delivery">
							+ darmowa wysyłka, regularna cena produktów kupionych osobno: 213 zł
						</div>
					</div>
				</div>
				
				
				<div class="c-buy__footer">
					<img src=<%= require("./img/logo/nts.svg") %> alt="n/t/s" width="87">
					Więcej o moich notesach <a href="https://www.nts.klosinski.net/?utm_source=metodateczowki&utm_medium=lp" target="_blank" rel="noopener">nts.klosinski.net</a>
				</div>
			</div>
		</div>
	</div>
