
				<div class="c-cookies move-out" id="cookies">
					<div>	
						<img src=<%= require("./img/assets/cookies.png") %> alt="" width="25" height="25">
						<p class="c-cookies__text">Wykorzystujemy pliki cookies. Szczegóły znajdziesz w <a href="https://salescrm.pl/klosinski-net/polityka-prywatnosci" target="_blank" rel="noopener">polityce prywatności</a>.</p>
					</div>
					
					<p class="c-cookies__accept js-accept">Wyrażam zgodę</p>
					
				</div>
