
				<div class="c-countdown anim--delay1 anim anim--up" id="timer" data-endtime="12/02/2019 11:59:59 PM">
                    <div class="c-countdown__item" data-title="dni" id="days"></div>
                    <div class="c-countdown__item" data-title="godzin" id="hours"></div>
                    <div class="c-countdown__item" data-title="minut" id="minutes"></div>
                </div>
