	
	<div class="c-expect bg-gray anim anim--up">
		<div class="o-section o-section--both-half">
			<div class="o-wrap">
				<header class="o-header o-header--indent">
					<h2 class="o-lead--big">Czego możesz się spodziewać?</h2>
				</header>
				
				<ul>
					<li class="anim anim--left">
						<h4 class="lead">Praktyka</h4>
						
						<p>Każda metoda zawiera dokładne
przykłady, rady dotyczące jej
zastosowania w&nbsp;praktyce i&nbsp;pomysły
na modyfikację. Chcę Cię zachęcić
do działania, a nie zanudzić opisami.</p>
					</li>
					
					<li class="anim anim--delay2 anim--left">
						<h4 class="lead">Przystępność</h4>
						
						<p>Zero demagogii, wciskania kitu
i&nbsp;lania wody. Tylko wiedza poparta
praktyką i badaniami naukowymi,
opisana w przyjazny sposób.</p>
					</li>
					
					<li class="anim anim--right">
						<h4 class="lead">Uniwersalność</h4>
						
						<p>To nie jest książka wyłącznie o pracy. Opisane rady możesz wykorzystać 
w&nbsp;każdym obszarze – w&nbsp;sytuacjach zawodowych, ale też tych prywatnych. Podaję przykłady z różnych dziedzin życia.</p>
					</li>
					
					<li class="anim anim--delay2 anim--right">
						<h4 class="lead">Przejrzystość</h4>
						
						<p>W książce znajdziesz mnóstwo
grafów, ilustracji, infografik 
i&nbsp;podsumowań ułatwiających
zrozumienie materiału. Cieszy oko.</p>
					</li>
				</ul>
			</div>			
		</div>
	</div>
