
	<div class="c-faq bg-gray anim anim--up" id="faq">
		<div class="o-section o-section--both">
			<div class="o-wrap">
				
				<div class="o-cols">
					<div class="o-cols__item">
				
						<h2 class="o-lead--big o-caption o-caption--vertical">FAQ</h2>
		
<ul class="o-list o-list--plus">
	<li class="c-faq__item js-item anim anim--up">
		<div class="c-faq__question">
			<p>Kiedy otrzymam zamówienie z&nbsp;książką kupioną w&nbsp;przedsprzedaży?</p>
		</div>
		
		<div class="c-faq__answer js-answer">
			<p>Przedsprzedaż trwa do&nbsp;2&nbsp;grudnia 2019, a my w&nbsp;tym czasie drukujemy dla Ciebie książkę. Wysyłka pierwszych zamówień rozpocznie się prawdopodobnie w pierwszych dwóch tygodniach grudnia. </p>
		</div>
	</li>
	
	<li class="c-faq__item js-item anim anim--delay1 anim--up">
		<div class="c-faq__question">
			<p>Dlaczego warto kupić produkty w&nbsp;przedsprzedaży? </p>
			<p></p>
		</div>
		
		<div class="c-faq__answer js-answer">
			<p>Kupując w przedsprzedaży dostaniesz dobrą cenę i mój podpis w książce. Będziesz też jedną z pierwszych osób, które chwycą w ręce „Metodę Tęczówki” – książkę wyślemy do Ciebie, jak tylko pierwsze sztuki pojawią się w naszym magazynie.</p>
		</div>
	</li>
	
	<li class="c-faq__item js-item anim anim--delay2 anim--up">
		<div class="c-faq__question">
			<p>Jakie są sposoby wysyłki i&nbsp;płatności?</p>
		</div>
		
		<div class="c-faq__answer js-answer">
			<p>Notesy wysyłamy poprzez Pocztex48 (czyli usługą kurierską Poczty Polskiej). Powinny być u Ciebie w ciągu 24-48 godzin od wysłania. O&nbsp;nadaniu Twojej paczki powiadomimy Cię mailowo. </p>
			<p>Możesz wybrać opcję szybkich płatności (Przelewy24) lub płatność przy odbiorze (dodatkowo płatna).</p>
		</div>
	</li>
	
	<li class="c-faq__item js-item anim anim--delay3 anim--up">
		<div class="c-faq__question">
			<p>Ile muszę zapłacić za dostawę? </p>
		</div>
		
		<div class="c-faq__answer js-answer">
			<p>Standardowy koszt wysyłki to 14,9 zł. Jeśli zdecydujesz się na opcję za pobraniem, musisz doliczyć 5,9 zł. Jeśli zrobisz zakupy za minimum 145 zł, koszt wysyłki (z przedpłatą) bierzemy na siebie. </p>
		</div>
	</li>
	
	<li class="c-faq__item js-item anim anim--delay4 anim--up">
		<div class="c-faq__question">
			<p>Czy wysyłamy notesy za granicę?</p>
		</div>
		
		<div class="c-faq__answer js-answer">
			<p>Niestety aktualnie nie ma możliwości wysyłki zagranicznej. Jeśli bardzo zależy Ci na otrzymaniu swojego egzemplarza i&nbsp;mieszkasz za granicą, musisz poprosić znajomych lub rodzinę mieszkającą w Polsce.</p>
		</div>
	</li>
	
	<li class="c-faq__item js-item anim anim--delay5 anim--up">
		<div class="c-faq__question">
			<p>Czy książkę mogę kupić tylko na tej stronie? </p>
		</div>
		
		<div class="c-faq__answer js-answer">
			<p>Tak, obecnie książkę można kupić wyłącznie na naszej stronie.</p>
		</div>
	</li>
	
	<li class="c-faq__item js-item anim anim--delay6 anim--up">
		<div class="c-faq__question">
			<p>Czy otrzymam fakturę VAT (na firmę)?</p>
		</div>
		
		<div class="c-faq__answer js-answer">
			<p>Oczywiście, wystarczy, że przy zamówieniu zaznaczysz odpowiednią opcję. Fakturę wyślemy do Ciebie mailowo. </p>
		</div>
	</li>
</ul>
						
					</div>
					
					<div class="o-cols__item anim anim--right">
						
						<figure class="o-picture">
							<img srcset="./img/assets/author/jacek-klosinski-02.jpg 1x,
							             ./img/assets/author/jacek-klosinski-02@2x.jpg 2x"
							     src="./img/assets/author/jacek-klosinski-02.jpg" alt="Jacek Kłosiński" width="368" height="200">
							     
							<figcaption class="o-caption o-caption--vertical o-caption--small">Kontakt</figcaption>
						</figure>
						
						<article class="o-article">
							<h4 class="o-lead o-lead--medium">Nadal nie masz pewności?</h4>
							
							<p>Jeśli nadal zastanawiasz się, czy książka Metoda Tęczówki jest dla Ciebie, napisz do mnie i opisz swoje wątpliwości.</p>
							
							<p>
								<a href="mailto:jacek@klosinski.net" class="o-btn o-btn--blackoutline">Postaram się doradzić</a>
							</p>
						
					</div>
				</div>
			</div>
		</div>
	</div>
