
	<div class="c-footer anim anim--up">
		<div class="o-wrap">
			
			<div class="c-footer__logo">
				<img src=<%= require("./img/logo/klosinski.svg") %> alt="klosinski" width="118">
			</div>
			
			<div class="c-footer__authors">
				<p>&copy; 2019 Jacek Kłosiński. All rights reserved.</p>
				<p>Projekt graficzny: <a href="http://wojciechobuchowicz.com/" target="_blank" rel="noopener">Wojciech Obuchowicz</a></p>
			</div>
			
			<nav class="c-footer__nav">
				<ul>
					<li>
						<a href="https://klosinski.salescrm.pl/regulamin" target="_blank" rel="noopener">Regulamin</a>
					</li>
					
					<li>
						<a href="https://klosinski.salescrm.pl/page/polityka-prywatnosci-i-plikow-cookies" target="_blank" rel="noopener">Polityka prywatności</a>
					</li>
					
					<li>
						<a href="https://klosinski.salescrm.pl/page/dostawa-i-platnosci" target="_blank" rel="noopener">Metoda platności</a>
					</li>
					
					<li>
						<a href="https://klosinski.salescrm.pl/page/zwroty-i-reklamacje" target="_blank" rel="noopener">Polityka zwrotów</a>
					</li>
				</ul>
			</nav>
			
			<ul class="c-social">
				<li class="anim anim--up">
					<a href="http://www.facebook.com/j.klosinski" class="icon-facebook" rel="noopener" target="_blank"></a>
				</li>
				
				<li class="anim anim--delay1 anim--up">
					<a href="https://www.youtube.com/c/jacekklosinski?sub_confirmation=1" class="icon-youtube" rel="noopener" target="_blank"></a>
				</li>
				
				<li class="anim anim--delay2 anim--up">
					<a href="http://instagram.com/jklosinski" class="icon-instagram" rel="noopener" target="_blank"></a>
				</li>
			</ul>
		</div>
	</div>
