	
	<div class="c-foryou anim anim--up" id="foryou">
		<div class="o-section o-section--both">
			<div class="o-wrap">
				
				<div class="o-cols">
					<div class="o-cols__item">
						<header class="o-header o-header--indent">
							<h2 class="o-lead--big">Ta książka jest dla Ciebie jeśli chcesz</h2>
						</header>
						
						<div class="shape">
							<img src=<%= require("./img/assets/shapes/arrow-02.svg") %> alt="" width="340">
						</div>
					</div>

					<div class="o-cols__item">
						
						<ol class="o-list o-list--arrow">
							<li class="anim anim--up">Szybciej i sprawniej realizować różne cele</li>
							<li class="anim anim--delay1 anim--up">Lepiej się zorganizować</li>
							<li class="anim anim--delay2 anim--up">Zabrać się za swoje plany</li>
							<li class="anim anim--delay3 anim--up">Zachować luz i&nbsp;spontaniczność, a&nbsp;nie zamieniać się w&nbsp;robota</li>
							<li class="anim anim--delay4 anim--up">Mieć dobrą równowagę pomiędzy pracą i&nbsp;życiem prywatnym</li>
							<li class="anim anim--delay5 anim--up">Wreszcie znaleźć czas na to, co ważne</li>
							<li class="anim anim--delay6 anim--up">Poznać proste i&nbsp;przyjazne metody, które usprawnią codzienną pracę</li>
							<li class="anim anim--delay7 anim--up">Działać po swojemu, bez narzucania Ci co masz robić</li>
						</ol>
						
					</div>
				</div>		
			</div>
		</div>
	</div>
