
	<div class="c-inside anim anim--up">
		<div class="o-section">
			<div class="o-wrap">
				<header class="o-header o-header--indent">
					<h2 class="o-lead--big">Zobacz książkę od środka</h2>
				</header>
<!--
				
				<figure class="o-picture">
					<div class="o-video">
						<div class="o-video__item">
							<iframe 
									width="560" height="315" 
									src="https://www.youtube.com/embed/gEMtECuRieY?rel=0&amp;showinfo=0" 
									frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
							</iframe>
						</div>
					</div>
					
					<figcaption class="o-caption o-caption--vertical o-caption--small">Wideo</figcaption>
				</figure>
				
-->
				
				<div class="o-cols o-cols--2">
					<div class="o-cols__item">
						<article class="o-article">
							<p>Książkę zaprojektowaliśmy tak, żeby chciało się ją czytać.  Zadbaliśmy o detale – ma praktyczny format (15x22 cm), dopieszczony skład i sporo objaśniających ilustracji.</p>
						</article>
						
						<figure class="c-inside__item anim anim--up">
							<img srcset="./img/assets/inside/details-01.jpg 1x,
							             ./img/assets/inside/details-01@2x.jpg 2x"
							     src="./img/assets/inside/details-01.jpg" alt="">

							<figcaption class="o-caption o-caption--vertical o-caption--small">Detale książki</figcaption>
						</figure>
						
						<figure class="c-inside__item anim anim--up">
							<img srcset="./img/assets/inside/details-02.jpg 1x,
							             ./img/assets/inside/details-02@2x.jpg 2x"
							     src="./img/assets/inside/details-02.jpg" alt="">
							     
							<figcaption class="o-caption o-caption--bottom in-desktop">Zdjęcia książki, które widzisz na tej stronie 
to wizualizacje. Traktuj je poglądowo. </figcaption>
						</figure>
					</div>
					
					<div class="o-cols__item">
						<figure class="c-inside__item anim anim--delay2 anim anim--up">
							<img srcset="./img/assets/inside/details-03.jpg 1x,
							             ./img/assets/inside/details-03@2x.jpg 2x"
							     src="./img/assets/inside/details-03.jpg" alt="">
						</figure>
						
						<figure class="c-inside__item anim anim--delay2 anim--up">
							<img srcset="./img/assets/inside/details-04.jpg 1x,
							             ./img/assets/inside/details-04@2x.jpg 2x"
							     src="./img/assets/inside/details-04.jpg" alt="">
							     
							<figcaption class="o-caption o-caption--bottom in-mobile">Zdjęcia książki, które widzisz na tej stronie 
to wizualizacje. Traktuj je poglądowo. </figcaption>
						</figure>
					</div>
				</div>
				
			</div>
		</div>
						
	</div>
