
			<ul class="c-intro__list">
				<li class="anim anim--up">
					<h3 class="o-lead--big o-caption o-caption--vertical">Rozpoznaj</h3>

					<dl>
						<dt>
							<p>Najpierw pokażę Ci jak lepiej zrozumieć swoją sytuację, możliwości, ograniczenia i potrzeby. Co lubisz? Jak działasz? Co nie jest dla Ciebie?</p>
						</dt>
						<dd>1</dd>
					</dl>
				</li>
				
				<li class="anim anim--up">
					<h3 class="o-lead--big o-caption o-caption--vertical">Dopasuj</h3>
					
					<dl>
						<dt>
							<p>Dopiero do tego dobierzemy takie sposoby, które będą najlepsze dla Ciebie i&nbsp;w&nbsp;Twoim konkretnym przypadku. Pomogę Ci wybrać najlepsze sposoby zarządzania sobą w&nbsp;czasie, planowania, ustalania priorytetów i&nbsp;mierzenia postępów (a wybór jest spory, bo opisałem aż 40 metod).</p>
						</dt>
						<dd>2</dd>
					</dl>
				</li>
			</ul>
			
			
		
