
			<article class="c-intro__text anim anim--up">	
				<header class="o-header o-header--indent anim anim--up">
					<h2 class="o-lead--big">Każdy z nas codziennie dostaje 24 godziny. Dlaczego niektórzy wyciągają z&nbsp;nich tak dużo, a&nbsp;inni ciągle mają poczucie marnowanego czasu?</h2>
				</header>
						
				<section class="c-intro__textblock c-intro__textblock--right anim anim--right">
					<p>Kiedy szukamy pomocy, eksperci sugerują nam różne dziwne rozwiązania. Ich zdaniem jedyne wyjście to wstawać o 5 rano, brać zimne prysznice, tworzyć długie listy zadań, korzystać ze skomplikowanych aplikacji albo pracować 12 godzin na dobę.</p>
				</section>
				
				<section class="c-intro__textblock c-intro__textblock--center anim anim--left">
					<p>Dla większości osób to brzmi jak tortura, a nie sposób na udane życie. Czy jest jakieś inne wyjście? Uważam, że nie trzeba stawać na głowie, żeby sprawnie działać. Stawanie na głowie jest trudne.</p>
				</section>
				
				<section class="c-intro__textblock c-intro__textblock--right anim anim--right">
					<p>Najgorsze co możesz zrobić, to próbować czegoś na siłę i&nbsp;wbrew sobie. Każdy z nas jest inny. Mamy różne talenty, upodobania i cele. To my powinniśmy dostosować rozwiązania do siebie, a nie naginać się do dziwnych rozwiązań, które ktoś nam narzuca.</p>
					<p>Właśnie o tym jest moja książka.</p>
				</section>
			</article>

