
			<nav class="c-nav js-nav">
				<ul class="c-nav__menu js-menu">
					<li>
						<a href="#intro" class="js-goto">O książce</a>
					</li>
					
					<li>
						<a href="#foryou" class="js-goto">Dla kogo</a>
					</li>
					
					<li>
						<a href="#find" class="js-goto">Zawartość</a>
					</li>
					
					<li>
						<a href="#author" class="js-goto">Autor</a>
					</li>
					
					<li>
						<a href="#buy" class="js-goto">Warianty</a>
					</li>
				</ul>
			</nav>
