	
	<div class="c-opinions anim anim--delay3 anim--left">
		<div class="o-section o-section--both">
			<div class="o-wrap">
				
				
				
				
				<div class="c-opinions__wrapper">
					<h2 class="o-lead--big o-caption o-caption--vertical">Opinie</h2>
					
					<div class="c-opinions__carousel">
						<div class="glide" id="opinionsCarousel">
							<div class="glide__track" data-glide-el="track">
								<div class="glide__slides">
									
									<div class="c-opinions__item js-item">
										<div class="author">Wojciech</div>
										<div class="opinion">
Książka Jacka to ponad 300 stron wiedzy, podanych w niezwykle zrozumiały i zapamiętywalny sposób. Fajna oprawa i projekt robią wrażenie. Pozycja, do której z chęcią będę wracać. Polecam!
										</div>
									</div>
									
									<div class="c-opinions__item js-item">
										<div class="author">Wojciech</div>
										<div class="opinion">
Książka Jacka to ponad 300 stron wiedzy, podanych w niezwykle zrozumiały i zapamiętywalny sposób. Fajna oprawa i projekt robią wrażenie. Pozycja, do której z chęcią będę wracać. Polecam!
										</div>
									</div>
									
									<div class="c-opinions__item js-item">
										<div class="author">Piotr</div>
										<div class="opinion">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. sunt in culpa qui officia deserunt mollit anim id est laborum.
										</div>
									</div>
									
									<div class="c-opinions__item js-item">
										<div class="author">Adam</div>
										<div class="opinion">
Książka Jacka to ponad 300 stron wiedzy, podanych w niezwykle zrozumiały i zapamiętywalny sposób. Fajna oprawa i projekt robią wrażenie. Pozycja, do której z chęcią będę wracać. Polecam!
										</div>
									</div>
									
									<div class="c-opinions__item js-item">
										<div class="author">Ula</div>
										<div class="opinion">
Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
										</div>
									</div>
									
								</div>
							</div>
							
							<div class="glide__arrows" data-glide-el="controls">
								<button class="glide__arrow glide__arrow--left icon-arrow-long-left" data-glide-dir="<"></button>
								<button class="glide__arrow glide__arrow--right icon-arrow-long-right" data-glide-dir=">"></button>
								
								<div class="c-opinions__pagination">
									<span class="js-current"></span>
									<span class="js-all"></span>
								</div>
							</div>
						</div>
					</div>
					
				</div>


			</div>
		</div>
	</div>
