
	<div class="c-topbar" id="topbar">
			
		<a href="#welcome" class="o-logo js-goto">
			<img src=<%= require("./img/logo/metoda-klosinski.svg") %> alt="Metoda Tęczówki | klosinski" width="210" height="46">
		</a>
		
		<div class="c-topbar__info">
			<div>
				<p>Trwa przedsprzedaż</p> <i class="icon-line"></i> <p class="color-white">Bonusy do 2 grudnia</p>
			</div>
			<a href="#buy" class="o-btn o-btn--blackoutline js-goto">Kup książkę</a>
		</div>
		
		<i class="icon-close js-close"></i>
	</div>

