
	<div class="c-video anim anim--up">
		<div class="o-section">
			<div class="o-wrap">

				<div class="o-cols">
					<div class="o-cols__item">
	
						<div class="shape">
							<img src=<%= require("./img/assets/shapes/arrow-01.svg") %> width="315" alt="">
						</div>
						
						<article class="o-article">
							<p>Obiecuję, że niczego nie będę Ci narzucał. Zamiast tego opisałem prosty proces, który pomoże Ci znaleźć i&nbsp;przetestować własne najlepsze rozwiązania. </p>

<p>Poprowadzę Cię za rękę przez wszystkie etapy i&nbsp;poprzez małe, proste kroki nauczę stosować najskuteczniejsze narzędzia.</p>
						</article>
					</div>
	
					<div class="o-cols__item">
						<header class="o-header">
							<h2 class="o-lead--big">Zobacz film, w&nbsp;którym 
opowiadam o&nbsp;książce</h2>
						</header>
						
						<figure class="o-picture anim anim--right">
							<div class="o-video">
								<div class="o-video__item">
									<iframe 
											width="560" height="315" 
											src="https://www.youtube.com/embed/gEMtECuRieY?rel=0&amp;showinfo=0" 
											frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
									</iframe>
								</div>
 							</div>
 							
 							<figcaption class="o-caption o-caption--vertical o-caption--small">Wideo</figcaption>
						
<!--
							<img srcset="./img/assets/author/jacek-klosinski-01.jpg 1x,
							             ./img/assets/author/jacek-klosinski-01@2x.jpg 2x"
							     src="./img/assets/author/jacek-klosinski-01.jpg" alt="Jacek Kłosiński" width="806" height="455">
							     
							<figcaption class="o-caption o-caption--vertical o-caption--small">Wideo</figcaption>
-->

						</figure>
					</div>
				</div>
				
			</div>
		</div>
	</div>
