	
	<div class="c-welcome anim anim--up" id="welcome">
		
		<div class="o-cols o-cols--2">
			<div class="o-cols__item">
				
				<% include nav %>
				
				<div class="o-hamburger js-hamburger"></div>
				
				<div class="c-welcome__header">
					<h1 class="o-lead--big">Metoda Tęczówki</h1>
					
					<h2 class="subtitle">
						czyli jak OSIĄGNĄĆ <br>
						dowolny cel po swojemu<br>
						i&nbsp;bez stawania na głowie
					</h2>
					
					<p class="cta">
						<a href="#buy" class="o-btn o-btn--whiteoutline js-goto">Kup książkę</a>
					</p>
					
					<p class="arrow">
						<a href="#intro" class="icon-arrow-long-down js-goto"></a>
					</p>
				</div>
			</div>
			
			<div class="o-cols__item">
				
				<% include cookies %>
	
				<div class="logo"></div>
			</div>
		</div>
	</div>
