[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-long-down:before {
  content: "\e900";
}
.icon-arrow-long-left:before {
  content: "\e901";
}
.icon-arrow-long-right:before {
  content: "\e902";
}
.icon-arrow-right:before {
  content: "\e903";
}
.icon-check:before {
  content: "\e904";
}
.icon-close:before {
  content: "\e905";
}
.icon-facebook:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-line:before {
  content: "\e908";
}
.icon-plus:before {
  content: "\e909";
}
.icon-plus2:before {
  content: "\e90a";
}
.icon-triangle-down:before {
  content: "\e90b";
}
.icon-youtube:before {
  content: "\e90c";
}
