<% include ./src/includes/head %>

<div class="o-container">

	<% include ./src/includes/topbar %>
	<% include ./src/includes/welcome %>
	<% include ./src/includes/intro %>
	<% include ./src/includes/video %>
	<% include ./src/includes/foryou %>
	<% include ./src/includes/expect %>
	<% include ./src/includes/find %>
	<% include ./src/includes/author %>
	<% include ./src/includes/inside %>
<!-- 	<% include ./src/includes/opinions %> -->
	<% include ./src/includes/presale %>
	<% include ./src/includes/buy %>
	<% include ./src/includes/faq %>
<!--	<% include ./src/includes/download %> -->
	<% include ./src/includes/footer %>

</div>

</body>
</html>


